.reserve_balance .ml_block{
	padding: 0 1.5rem .8rem 1.5rem;
	margin-bottom: 0.6rem;
	background: #FFFFFF;
}
.reserve_balance .ml_block_header,.ml_block_body,.ml_block_all{
	width: 100%;
}
.reserve_balance .ml_block_body,.ml_block_all{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}
.reserve_balance .ml_block_half{
	width: 50%;
}
.reserve_balance .ml_block_list{
	display: flex;
	justify-content: space-between;
	border-bottom: .1rem solid #E2DEDE;
	padding: 1.2rem 0;
}
.reserve_balance .ml_block_list:last-of-type{
	border: none;
}
.reserve_balance .table{
    width: 37.5rem;
    height: 13.9rem;
    background: #fff;
    margin-bottom: 1.5rem;
}